* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%;
}

form {
    margin-bottom: 20px;
}

table {
    margin-bottom: 10px;
}

input[type="number"] {
    width: 50px;
    text-align: center;
}